.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-04);

  .team-member-position {
    margin: 0;

    font-size: .9rem;
    text-align: center;
  }
}

.team-member-image {
  --member-image-size: 125px;

  height: var(--member-image-size);
  width: var(--member-image-size);

  border-radius: 50%;
}

.team-member-name {
  font-size: 1.125rem;
}

.team-member-with-sentence {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-04);

  align-items: center;
  margin-bottom: var(--layout-06);

  .team-member-image {
    --member-image-size: 175px;
  }

  .team-member-name {
    font-size: var(--spacing-06);
  }

  .team-member-position {
    font-size: 1.125rem;
  }
}

.team-member-sentence {
  height: fit-content;
  padding-top: var(--layout-03);
  padding-bottom: 7.25rem;
  padding-left: var(--layout-05);

  border-left: 4px solid var(--main-color);

  q {
    font-style: italic;

    &::before,
    &::after {
      content: none;
    }
  }
}

@media (min-width: 845px) {
  .team-member-with-sentence {
    flex-direction: row;
    align-items: unset;
    gap: var(--layout-05);
  }
}