.services {
  display: grid;
  gap: var(--layout-03);

  margin-top: var(--layout-06);
  margin-bottom: var(--layout-06);
}

@media (min-width: 568px) {
  .services {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}