.service-card {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  border-radius: var(--spacing-04);
  box-shadow: 0 4px 8px 0 #00000033;
}

.service-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-04);

  margin-bottom: var(--spacing-06);
}

.service-card-image {
  height: 156px;
}

.service-card-name {
  color: var(--fifth-color);
  font-size: var(--layout-02);
  font-weight: 500;
}

.service-card-button {
  width: 100%;
  margin-top: auto;
  padding: var(--spacing-03) 0;

  border-bottom-left-radius: var(--spacing-04);
  border-bottom-right-radius: var(--spacing-04);
  background-color: var(--fifth-color);
  color: #fff;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    opacity: .8;
  }
}

@media (min-width: 568px) {
  .service-card-image {
    height: 256px;
  }
}