.product-card {
  display: flex;
  flex-direction: column;
  
  max-width: 300px;
  margin: 0 auto;

  border-radius: var(--spacing-04);
  box-shadow: 0 4px 8px 0 #00000033;
}

.product-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-04);
}

.product-card-image {
  height: 250px;
  width: 250px;
}

.product-card-name {
  color: var(--fifth-color);
  font-size: var(--layout-02);
  font-weight: 500;
}

.product-card-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-02);

  padding: var(--spacing-03);

  background-color: var(--main-color);
  border-radius: var(--spacing-04);
}

.product-card-price-total {
  font-size: var(--layout-03);
  font-weight: 400;
}

.product-card-price-currency {
  font-size: var(--layout-01);
}

.product-card-info {
  padding: var(--spacing-05);

  .product-card-description {
    margin: 0;
  }

  .product-card-properties {
    font-size: .8rem;
    border: none;
  }
}

.product-card-button {
  width: 100%;
  margin-top: auto;
  padding: var(--spacing-03) 0;

  border-bottom-left-radius: var(--spacing-04);
  border-bottom-right-radius: var(--spacing-04);
  background-color: var(--fifth-color);
  color: #fff;
  text-align: center;

  &:hover {
    opacity: .8;
  }
}