.team {
  margin-top: var(--layout-04);
  margin-bottom: var(--layout-07);
}

.team-members {
  display: grid;
  row-gap: var(--layout-06);
  column-gap: var(--layout-01);
}

@media (min-width: 440px) {
  .team-members {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  }
}