.submenu-item {
  font-size: 12px;
  font-weight: 600;
}

.submenu-item--active,
.submenu-item:hover {
  .submenu-item-anchor {
    background-color: var(--third-color);
    color: var(--main-color);
  }
}

.submenu-item-anchor {
  display: block;

  width: 100%;
  height: 100%;
  padding: 8px 0;

  color: var(--third-color);

  &:hover {
    text-decoration: none;
    color: var(--main-color);
  }
}

.sidebar--open {
  .submenu-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
  }

  .submenu-item-anchor {
    display: flex;
    place-content: center;

    height: 40px;
    padding: 0;
  }

  .submenu-item-title {
    align-self: center;
  }
}
