.header {
  --backgroundImage: url('../../assets/content/miscellany/gorilla-and-human-hands.jpg');

  height: 100vh;

  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--backgroundImage);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), var(--backgroundImage);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--backgroundImage);
}

.header-title,
.header-slogan {
  position: absolute;
  
  padding: 10px 25px;

  background-color: #ffffff;
  color: #000000;

  mix-blend-mode: screen;
}

.header-title {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 365px;
  height: 100px;
  margin: 0;
  padding-top: 20px;

  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.header-slogan {
  right: 103.25px;
  top: 130px;
  
  width: fit-content;
  margin: 0;
  
  border: none;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;

  span {
    display: block;

    &:last-of-type:not(:first-of-type) {
      margin-left: 35px;
    }
  }
}
