.sidemenu {
  display: flex;
  flex-direction: column;

  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
  padding-top: 15px;

  list-style: none;
  overflow-y: auto;
  height: 100%;

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background: var(--second-color);
  }

  &::-webkit-scrollbar-thumb {
    background: #173936;
  }
}