.content-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: calc(100% - var(--sidebar-width));
}

.content {
  margin-bottom: var(--layout-05);

  h2 {
    width: min(100%, 1024px);
    max-width: calc((100vw - var(--sidebar-width)) - 2 * var(--lateral-spacing));
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;

    font-size: var(--spacing-09);
    font-weight: 700;
    line-height: 60px;
  }

  h3 {
    width: min(100%, 1024px);
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;

    font-size: var(--spacing-07);
    font-weight: 700;
    line-height: 50px;
    color: var(--third-color);
  }

  p {
    text-align: left;
    margin: 1.5rem 0;

    & > img {
      height: auto;
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      padding: var(--spacing-06);
    }
  }

  ul,
  ol {
    display: block;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

    border-left: 4px solid var(--main-color);
  }

  ul {
    list-style-type: square;
  }

  ol {
    list-style: decimal;
  }

  strong {
    color: var(--fifth-color);
  }
}

.content-article {
  display: block;

  width: min(100%, 1024px);
  max-width: calc((100vw - var(--sidebar-width)) - 2 * var(--lateral-spacing));
  margin-top: var(--layout-03);
  margin-bottom: var(--layout-05);
  margin-right: auto;
  margin-left: auto;

  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}