@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Automatic version:
 * Uses light theme by default but switches to dark theme
 * if a system-wide theme preference is set on the user's device.
 */

:root {
  --main-color: #42a79e;
  --second-color: #51bab1;
  --third-color: #122d2b;
  --fourth-color: #9ad7d2;
  --fifth-color: #255e59;

  --layout-01: 1rem;
  --layout-02: 1.5rem;
  --layout-03: 2rem;
  --layout-04: 3rem;
  --layout-05: 4rem;
  --layout-06: 6rem;
  --layout-07: 10rem;

  --spacing-01: 0.125rem;
  --spacing-02: 0.25rem;
  --spacing-03: 0.5rem;
  --spacing-04: 0.75rem;
  --spacing-05: 1rem;
  --spacing-06: 1.5rem;
  --spacing-07: 2rem;
  --spacing-08: 2.5rem;
  --spacing-09: 3rem;

  --lateral-spacing: var(--layout-01);

  @media(min-width: 414px) {
    --lateral-spacing: var(--layout-02);
  }

  @media(min-width: 768px) {
    --lateral-spacing: var(--layout-03);
  }

  @media(min-width: 1024px) {
    --lateral-spacing: var(--layout-04);
  }
}

html {
  scroll-behavior: smooth;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #a59f9f;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

body {
  margin: 0;

  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility;

  word-wrap: break-word;
}

a {
  text-decoration: none;
}

blockquote {
  border-left: 4px solid #0096bfab;
  border-left: 4px solid var(--focus);
  margin: 1.5em 0;
  padding: 0.5em 1em;
  font-style: italic;
}